<div class="mt-4 col-8 offset-2">
  <div class="card">
    <div class="card-header">
      Register 
    </div>
    <div class="card-body">
      <form #registerForm=ngForm (ngSubmit)="onSubmit()">
       
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="name" name="name" [(ngModel)]="form.name" class="form-control" id="inputName" placeholder="Name" required>
            <div class="alert alert-danger" [hidden]="!_error.name">
                {{_error.name}}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" name="email" [(ngModel)]="form.email" class="form-control" id="inputEmail3" placeholder="Email" required>
            <div class="alert alert-danger" [hidden]="!_error.email">
                {{_error.email}}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" name="password" [(ngModel)]="form.password" class="form-control" id="inputPassword3" placeholder="Password" required>
            <div class="alert alert-danger" [hidden]="!_error.password">
                {{_error.password}}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Sign in</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>